*{
    box-sizing: border-box;
}
body{
    display : flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    

    

}
.header,.content,.footer{
    padding-left: 180px;
    padding-right: 180px;

}
.title{
    padding-left: 180px;
    padding-right: 180px;
}
/*header*/
.header{
    display: flex;
    justify-content : space-between;
    background-color: #1F2937;
    padding-top: 15px;
    flex-shrink: 0;
    gap: 12px;

}

.logo{
    width: 125px;
    height: 125px;
}
.liens{
    display: flex;
    color: white;  
    gap: 15px;
    height: 20px;
    
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: skyblue;
}
/*title*/
.title{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 400px;

}
.title_image{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-title{
    
}
button{
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    height: 35px;
    padding: 8px;
    margin: 0px;
    border: 0px;
    margin-top: 10px;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
}
.image2{
    width: 200px;
    height: 150px;
}
.content{
    display: flex;
    justify-content: safe center;
    flex-direction: column;
    margin-bottom: 100px;
}
.titre-content{
    display: flex;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.content-conteneurs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 10px

}
.conteneur{

    border-width: 5px;
    height: 140px;
    width: 200px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    margin: 12px;
    flex-shrink: 0;
    display: flex;
    margin: 0px;
}
p{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8px;

}
quote{
    margin-top:  ;
}